![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 1

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

In [14]:
import pandas as pd

#### Passo 1. Importando os dados

Carregue os dados salvos no arquivo ***datasets/users_dataset.csv***.\
Esse arquivo possui um conjunto de dados de trabalhadores com 5 colunas separadas pelo símbolo "|" (pipe) e 943 linhas.

Dica: não se esqueça do argumento *sep* quando importar os dados.

In [21]:
users = pd.read_csv("./datasets/users_dataset.csv", "|")
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

#### Passo 2. Mostre as 15 primeiras linhas do dataset.

*Dica: utilize a função head do DataFrame*

In [3]:
# Seu código

#### Passo 3. Mostre as 10 últimas linhas do dataset

In [4]:
# Seu código

#### Passo 4. Qual o número de linhas e colunas do DataFrame?

In [28]:
users.shape

(943, 5)

#### Passo 5. Mostre o nome de todas as colunas.

In [34]:
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

#### Passo 6. Qual o tipo de dado de cada columa?

In [33]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

#### Passo 7. Mostre os dados da coluna *occupation*.

In [37]:
users["occupation"].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

#### Passo 8. Quantas ocupações diferentes existem neste dataset?

In [41]:
users["occupation"].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

#### Passo 9. Qual a ocupação mais frequente?

In [27]:
users["occupation"].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

#### Passo 10. Qual a idade média dos usuários?

In [29]:
users.loc[:, "age"].mean()

34.05196182396607

#### Passo 11. Utilize o método describe() para obter diversas informações a respeito do DataFrame.

In [31]:
users["age"].describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

**Parabéns! Você chegou ao fim!**